
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner animated fadeIn">
       <div class="carousel-item active animated fadeIn">
         <img src="assets/img/imagen1.jpeg" class="d-block w-100" alt="...">
         <div class="carousel-caption d-none d-md-block">
           <h5>Registro y Actualización de Datos Residente</h5>
           <p>Módulo de Registro y Actualización de Datos Residente no solo agiliza los procesos administrativos, 
             sino que también contribuye significativamente a una gestión eficiente, 
             comunicación efectiva y seguridad de la información en entornos residenciales u oficinas.
           </p>
         </div>
       </div>
    <div class="carousel-item animated fadeIn ">
      <img src="assets/img/imagen2.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>Control de Visitantes</h4>
         <p>
          Módulo de control de visitantes no solo es una medida de seguridad, sino una estrategia integral para 
          gestionar eficientemente la entrada y salida de personas en cualquier entorno. La combinación de tecnologías
          avanzadas, procesos optimizados y adaptabilidad hace que estos sistemas sean herramientas esenciales para 
          salvaguardar la seguridad y mejorar la eficacia operativa en cualquier organización o Residencia.
         </p>
      </div>
    </div>
      <div class="carousel-item animated fadeIn">
        <img src="assets/img/imagen3.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4>Recepción de Encomiendas</h4>
          <p>
            Módulo de control y recepción de encomiendas para residentes no solo simplifica la logística, 
            sino que también contribuye a una experiencia residencial más segura y eficiente, mejorando la 
            satisfacción de los residentes y fortaleciendo la reputación de la comunidad.
          </p>
        </div>
      </div>
   
      <div class="carousel-item animated fadeIn">
        <img src="assets/img/imagen4.jpeg" class="d-block w-100  imagen" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Gestión de Areas Comúnes</h5>
          <p>
            Módulo de gestión de áreas comunes no solo simplifica los procesos de reserva, 
            sino que también promueve una convivencia armoniosa, garantizando un acceso equitativo 
            y una administración eficiente de los recursos compartidos en una comunidad residencial.
          </p>
        </div>
      </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>


