 <!-- Header -->
 <header>
    
    <div class="menu">
        <img src="assets/img/logo.png" alt="Edificio 1">
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a routerLink="/home">
                    <i class="fa-solid fa-house"></i>
                    Home
                </a></li>
                <li><a routerLink="/contacto">
                    <i class="fa-solid fa-envelope"></i>
                    Contacto
                </a></li>
                <li><a href="https://Visitor-Plus.cl/appcv" target="_blank">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    Acceder
                </a></li>
            </ul>
        </nav>
    </div>
   
</header>
