<div class="container animated fadeIn">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h5 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa-solid fa-building-user"></i>
                      <h5>Registro y Actualización de Datos Residente</h5>
              </button>
            </h5>
            <div id="collapseOne" class="accordion-collapse collapse show animated fadeIn" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Registro y Actualización de Datos Residente</strong>
                <p class="texto-acordeon">
                    La implementación de un sistema de Registro y Actualización de Datos del residente es esencial para mantener una 
                    gestión eficiente y precisa en comunidades residenciales. Este sistema no solo simplifica el proceso de registro 
                    inicial, sino que también garantiza la integridad y actualización constante de la información de cada residente.
                    La posibilidad de registrar datos claves (Propietarios, Arrendatarios, habitantes del inmueble,  Bodegas, Automóviles, 
                    entre otras), que facilitan una comunicación efectiva entre la administración y los residentes. Además, el sistema permite 
                    la actualización continua de estos datos, asegurando que la información esté siempre al día y sea accesible para situaciones 
                    de emergencia o comunicados importantes. La seguridad de la información es otro beneficio destacado, ya que la implementación
                    de medidas de protección ( Encriptación ) garantiza la confidencialidad de los datos residentes. Además, la capacidad de 
                    acceder a información actualizada facilita la toma de decisiones informadas por parte de la administración, mejorando 
                    la calidad de los servicios ofrecidos y la satisfacción general de los residentes.
              </p>
          </div>
      </div>
         </div>
       <div class="accordion-item">
          <h5 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa-solid fa-person-walking-arrow-right"></i>  
                  <h5>Control de Visitas</h5>
            </button>
          </h5>
          <div id="collapseTwo" class="accordion-collapse collapse animated fadeIn" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Control de Visitas</strong>
              <p class="texto-acordeon">La implementación de un sistema de control y manejo de visitantes desempeña un papel fundamental al garantizar una gestión segura y eficaz de las personas que ingresan a un espacio determinado. La seguridad se consolida mediante la identificación de la persona con proceso de validación de RUT y su respectiva lectura de Código QR a través de un lector que verifica la veracidad del documento y adicionalmente fotografía(opcional), que aseguran la verificación precisa de la identidad de los visitantes, evitando accesos no autorizados y fortaleciendo la protección de activos y personas.
                La eficacia del sistema se refleja en la simplificación de los procesos de registro, eliminando la necesidad de trámites manuales y agilizando la entrada de visitantes. Esto no solo mejora la experiencia del usuario, sino que también optimiza los recursos humanos al liberar al personal de tareas administrativas, permitiéndoles concentrarse en labores más estratégicas. La capacidad de generar registros detallados y la adaptabilidad a diferentes entornos refuerzan la eficacia del sistema, proporcionando una herramienta versátil y segura para el control de visitantes en diversos contextos.
            </p>
        </div>
    </div>
       </div>
       <div class="accordion-item">
         <h5 class="accordion-header">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="fa-solid fa-people-carry-box"></i>  
              <h5>Recepcion de Encomiendas</h5>
             </button>
         </h5>
         <div id="collapseThree" class="accordion-collapse collapse animated fadeIn" data-bs-parent="#accordionExample">
             <div class="accordion-body">
                 <strong>Recepcion de Encomiendas</strong> 
                 <p class="texto-acordeon" >
                    La implementación de un sistema de control y recepción de encomiendas para residentes no solo agiliza los procesos logísticos, sino que también fortalece la seguridad y la eficiencia en comunidades residenciales. Este sistema proporciona una solución organizada y segura para la gestión de paquetes, optimizando el tiempo de los residentes y mejorando la calidad del servicio.
                    Al emplear tecnologías como códigos de barras o notificaciones electrónicas, se logra un seguimiento preciso de las encomiendas desde su recepción hasta la entrega final. Esto no solo brinda tranquilidad a los residentes, sino que también facilita la resolución de posibles problemas o extravíos.
                    La centralización de la recepción de encomiendas mediante un sistema específico no solo elimina la necesidad de que los residentes estén presentes en el momento de la entrega, sino que también reduce la posibilidad de pérdidas o confusiones. Además, al contar con un registro electrónico, se optimiza la administración de espacio y se minimizan los riesgos asociados con la manipulación manual de paquetes.
                    En conclusión, la implementación de un sistema de control y recepción de encomiendas para residentes no solo simplifica la logística, sino que también contribuye a una experiencia residencial más segura y eficiente, mejorando la satisfacción de los residentes y fortaleciendo la reputación de la comunidad.
                </p>
             </div>
         </div>
       </div>
       <div class="accordion-item">
            <h5 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <i class="fa-solid fa-champagne-glasses"></i>
                      <h5>Gestión de Areas Comúnes</h5>
                </button>
            </h5>
        <div id="collapseFour" class="accordion-collapse collapse animated fadeIn" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong> Gestión de Areas Comúnes.</strong> 
                <p class="texto-acordeon">
                    La implementación de un sistema para la gestión de áreas comunes en comunidades residenciales representa un avance significativo hacia una administración eficiente y una experiencia mejorada para los residentes. Este sistema no solo simplifica la reserva de espacios como la sala de fiestas, quinchos, gimnasio y lavandería, sino que también aporta a la optimización del uso de estas instalaciones.
                    Con la incorporación de tecnologías de reserva en línea, los residentes pueden programar el uso de las áreas comunes de manera conveniente y transparente. Esto no solo evita conflictos por el uso de espacios, sino que también permite una distribución equitativa y justa de los recursos comunes.
                    Además, el sistema de gestión de áreas comunes proporciona un seguimiento detallado de la utilización de estos espacios, permitiendo a la administración realizar un análisis informado sobre la demanda y optimizar la programación de mantenimiento. Asimismo, facilita la comunicación entre los residentes y la administración, ofreciendo un canal eficaz para notificaciones, actualizaciones y cualquier información relevante relacionada con el uso de las áreas comunes.
                </p>
            </div>
          </div>
       </div>
    </div>
    <app-carousel></app-carousel>
</div>



